@media only screen and (max-width: 414px) {

    /* home */
    nav {
        width: 100%;
        height: 180px;
        padding: 0 0;
        border-bottom: none;
    }
    #name {
        height: 130px;
        border: none;
        padding-right: 0;
        margin: none;
        text-align: center;
        color: #88563C;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 150px;
        text-decoration: none;
        display: inline-block;
        font-size: 30px;
    }
/* 
    nav a {
        margin: 0 auto;
        text-align: center;
        display: block;
    } */
    nav ul {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        width: 90%;
        line-height: 50px;
        position: relative;
        padding: 0% 5%;
        margin-bottom: 10px;
        left: 0;
    }
    
    nav li {
        display: inline-block;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 25px;
        padding-left: 20px;
        padding: 0 0;
        margin-left: 0;
    }
    
    .nav-style {
        line-height: 50px;
        text-decoration: none;
        color: #88563C;
    }

    .text-wrapper {
        width: 85%;
        height: 400px;
        padding-top: 100px;
    }
    
    .text-wrapper p {
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0, 0.4);
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 28px;
        line-height: 35px;
        text-align: center;
        color: white;
        text-shadow: 2px 2px 4px #000000;
        z-index: -1;
    }
    
    .background {
        margin-top: 10px;
        width: 100%;
        height: 550px;
        /* margin: auto; */
        background-image: url(img/back.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-origin: content-box;
        border-bottom: 2px solid #88563C;
        border-left: 2px solid #88563C;
        border-right: 2px solid #88563C;
    
        
    }
    .footer {
        display: block;
        position: relative;
        margin: -20px auto;
        width: 60%;
        background-color: #88563C;
        height: auto;
        margin-bottom: 20px;
    }
    
    .footer p {
        margin: auto;
        padding: 10px;
        margin-left: 10px;
        color: white;
        font-family: 'Times New Roman', Times, serif;
        font-size: 23px;
        font-weight: bold;
        text-align: center;
    }
    
    .footer ul {
        padding-top: 10px;
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        align-items: center;
        /* margin: auto; */
        z-index: -1;
    }
    .logo {
        padding: 10px;
        width: 25px;
        height: 25px;
        padding-left: 50px;
        margin: auto auto;
    }
    
    .logo-text {
        color: white;
        text-decoration-line: none;
        padding-left: 10px;
        font-size: 20px;
    }
    .logo-text:hover {
        font-size: 150%;
    }





    /* projects */

    strong { font-weight: bold; }

    .projects-bg {
        background-image: url(img/projects-bg9.jpeg);
        background-position: center;
        background-size: contain;
        background-repeat: repeat;
        opacity: 1;
        margin: 0 0;
        height: 1750px;
        position: relative;
    }

    .projects-wrapper {
        width: 90%;
        height: 1650px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        background-color: rgba(17, 16, 16, 0.4);
        margin: auto;
        margin-left: 5%;
        align-self: center;
        margin-top: 20px;
        position: absolute;
    }

    .hover-wrapper {
        height: 150px;
        position: relative;
    }
    .hover-wrapper p {
        display: none;
    }
    .hover-wrapper:hover p {
        text-align: center;
        font-size: 12px; 
    }
    .hover-wrapper h2 {
        display: none;
    }
    .hover-wrapper:hover {
        width: 300px;
        height: auto;
        max-height: 500px !important;
        overflow-y: auto;
        overflow-x: hidden;
        background-color:white;
        position: relative;
        border: #88563C solid 3px;
        z-index: 2;
        transition: 1s;
    }

    .hover-wrapper:hover img {
        position: relative;
        top: 15px;
        width: 200px;
        height: 150px;
        border: none;
        padding-bottom: 15px;
        border-bottom: #88563C solid 2px;
        align-content: center;
    }

    .hover-wrapper:hover p {
        display: block;
        color: #88563C;
    }


    .hover-wrapper:hover h2 {
        display: block;
        padding: 5px;
        font-family: 'Times New Roman', Times, serif;
        font-size: 20px;
        text-align: center;
        color: rgb(102, 65, 45);
    }
    #title-h {
        margin-top: 15px;
        font-family: 'Times New Roman', Times, serif;
        font-size: 25px;
        text-align: center;
        text-decoration-line: underline;
    }
    #projects-content {
        position: relative;
        padding: 10px;
        font-family: 'Times New Roman', Times, serif;
        font-size: 17px;
        line-height: 20px;
        overflow: auto;
        color: rgb(77, 45, 28)
    }
    .projects-wrapper img {
        width: 175px;
        height: 125px;
        border: #88563C solid 3px;
        margin: 50px;
        transition: 0.6s;
        background-color: white;
        z-index: 0;
        overflow: hidden;
    }
    .description-btn {
        display: none;
    }
    .hover-wrapper:hover .description-btn {
        width: 100px;
        height:20px;
        display: block;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        color: #88563C;
        opacity: 1;
        padding-bottom: 10px;
        line-height: 20px;
        text-align: center;
        margin: 20px auto;
    }



    /* HOBBIES */


.bar {
    display: none;
}


.hobbie {
    position: relative;
    margin: 70px 0;
}

.hobbie h1 {
    color: #E0E0E0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 30px;
    padding: 0 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.hobbie p {
    color: #88563C;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding-left: 55px;
    line-height: 20px;
    padding-right: 30px;
}


/* slideshow */

.slideshow-container {
    position: relative;
    width: 300px;
    height: 300px;
    margin: 10px auto;
    display: flex;
    flex-wrap: wrap;
}

.slideshow-container h3 {
    display: none;
    color: 	#505050;
    opacity: 0.8;
    text-align: center;
    margin: 10px auto;
    padding-left: 50px;
    font-size: 13px;
    max-width: 150px;
    position: absolute;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    /* top: 50%; */
    width: auto;
    padding: 16px;
    color: #E0E0E0;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    z-index: 2;
  }
  
  /* Position the "next button" to the right */
  .next {
    margin-left: 250px;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }

  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }

  #img-style {
    /* position: absolute; */
    border: black 2px solid;
    width: auto;
    height: auto;
    max-height: 250px;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin: auto;
    z-index: -29;
    display: none;
    margin-top: 50px;
  }

  video {
      width: 100%;
      height: 100%;
      max-height: 440px;
      max-width: 730px;
      display: none;
      z-index: 1;
      margin-top: 50px;
  }

  #space {
      margin-top: 70px;
  }

  #copyright {
      margin: 0 0;
      padding-bottom: 20px;
      display: block;
      font-size: 11px;
  }
}