* {
    margin: 0 0;
    padding: 0 0;
    border: 0;
}

/* MY CODE */
nav {
    width: 100%;
    height: 100px;
    padding-bottom: 10px;
    border-bottom: 2px solid #88563C;
    display: inline-block;
}

#name {
    width: 200px;
    height: 70px;
    padding-right: 50px;
    border-right: #88563C;
    border-right-width: 3px;
    border-style: solid;
    text-align: center;
    color: #88563C;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 70px;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin-top: 15px;
}

.index_photo {
    width: 70px;
    height: 70px;
    margin: 20px 30px;    
    padding-right: 50px;
    border-right: #88563C;
    border-right-width: 3px;
    border-style: solid;
    text-align: center;
}

nav ul {
    display: inline-block;
    width: 500px;
    height: 100px;
    position: absolute;
    right: 30px;
    text-align: center;
}

nav li {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    margin-left: 20px;
}

.nav-style {
    line-height: 100px;
    text-decoration: none;
    color: #88563C;
}

.text-wrapper {
    width: 45%;
    height: 500px;
    padding-top: 100px;
    padding-bottom: 100px;
    margin: auto;
}

.text-wrapper p {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    margin: 0 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    line-height: 55px;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    z-index: -1;
}

.background {
    width: 100%;
    height: 550px;
    margin: auto;
    background-image: url(img/back.jpg);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-origin: content-box;
    border-bottom: 2px solid #88563C;
    border-left: 2px solid #88563C;
    border-right: 2px solid #88563C;

    
}

#space1 {
    height: 40px;
}

.footer {
    margin: auto;
    width: 75%;
    background-color: #88563C;
    height: 140px;
}

.footer p {
    margin: auto;
    padding: 10px;
    margin-left: 10px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.footer ul {
    padding-top: 20px;
    display: flex;
    list-style: none;
    align-items: center;
    margin: auto;
}

.logo {
    width: 30px;
    height: 30px;
    padding-left: 100px;
}

.logo-text {
    color: white;
    text-decoration-line: none;
    padding-left: 15px;
}
.logo-text:hover {
    font-size: 150%;
}
#copyright {
    padding-top: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    color: rgb(92, 91, 91);
    text-align: center;
    margin-bottom: 30px;
}