* {
    margin: 0 0;
    padding: 0 0;
    border: 0;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* MY CODE */
nav {
    width: 100%;
    height: 100px;
    padding-bottom: 10px;
    border-bottom: 2px solid #88563C;
    display: inline-block;
}

#name {
    width: 200px;
    height: 70px;
    padding-right: 50px;
    border-right: #88563C;
    border-right-width: 3px;
    border-style: solid;
    text-align: center;
    color: #88563C;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 70px;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin-top: 15px;
}

.index_photo {
    width: 70px;
    height: 70px;
    margin: 20px 30px;    
    padding-right: 50px;
    border-right: #88563C;
    border-right-width: 3px;
    border-style: solid;
    text-align: center;
}

nav ul {
    display: inline-block;
    width: 500px;
    height: 100px;
    position: absolute;
    right: 30px;
    text-align: center;
}

nav li {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    margin-left: 20px;
}

.nav-style {
    line-height: 100px;
    text-decoration: none;
    color: #88563C;
}

.text-wrapper {
    width: 45%;
    height: 500px;
    padding-top: 100px;
    padding-bottom: 100px;
    margin: auto;
}

.text-wrapper p {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    margin: 0 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    line-height: 55px;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    z-index: -1;
}

.background {
    width: 100%;
    height: 550px;
    margin: auto;
    background-image: url(img/back.jpg);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-origin: content-box;
    border-bottom: 2px solid #88563C;
    border-left: 2px solid #88563C;
    border-right: 2px solid #88563C;

    
}

#space1 {
    height: 40px;
}

.footer {
    margin: auto;
    width: 75%;
    background-color: #88563C;
    height: 140px;
}

.footer p {
    margin: auto;
    padding: 10px;
    margin-left: 10px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.footer ul {
    padding-top: 50px;
    display: flex;
    list-style: none;
    align-items: center;
    margin: auto;
}

.logo {
    width: 30px;
    height: 30px;
    padding-left: 100px;
}

.logo-text {
    color: white;
    text-decoration-line: none;
    padding-left: 15px;
}
.logo-text:hover {
    font-size: 150%;
}
#copyright {
    padding-top: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    color: rgb(92, 91, 91);
    text-align: center;
    margin-bottom: 30px;
}

    /* PROJECTS STYLE */

.projects-wrapper {
    width: 90%;
    height: 1100px;
    /* height: auto !important; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgba(211,211,211, 0.6);
    margin: auto;
    margin-top: 100px;
    margin-bottom: 150px;
    position: relative;
}
.hover-wrapper p {
    display: none;
}
.hover-wrapper h2 {
    display: none;
}
.hover-wrapper:hover {
    width: 400px;
    height: auto;
    max-height: 600px !important;
    overflow-y: auto;
    overflow-x: hidden;
    background-color:white;
    position: relative;
    border: #88563C solid 3px;
}

.hover-wrapper:hover img {
    position: relative;
    top: 25px;
    width: 300px;
    height: 250px;
    border: none;
    padding-bottom: 15px;
    border-bottom: #88563C solid 2px;
    align-content: center;
}

.hover-wrapper:hover p {
    display: block;
}
.hover-wrapper:hover h2 {
    display: block;
    padding: 5px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: center;
}
#title-h {
    margin-top: 15px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    text-align: center;
    text-decoration-line: underline;
}
#projects-content {
    position: relative;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
    line-height: 20px;
    overflow: auto;
}
.projects-wrapper img {
    width: 250px;
    height: 200px;
    border: #88563C solid 3px;
    margin: 50px;
    transition: 0.3s;
}